main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.allJoinContainer{
    width: 70vw;
    display: flex;
    align-items: center;
}

.joinContainerText{
    width: 50%;
    display: flex;
    flex-direction: row;
}


.containerForm{
    width: 50%;
}

h1 {
    font-size: 3rem;
    font-family: 'Poppins-Bold';
}
.white{
    margin-right: 10px;
}
span{
    color: #DD0072;
 
    
}


.circleBlue {
   left: 10%;
   bottom: 66%;
    z-index: -1;
    width: 25rem;
    height: 25rem;
    background-color: #3457b21a;
    border-radius: 50%;
    position: fixed;
}

.circlePink {
    left: -21%;
    bottom: -13%;
    z-index: -1;
    width: 40rem;
    height: 40rem;
    background-color: #bc3a801a;
    border-radius: 50%;
    position: fixed;
}
  


@media (max-width: 700px) {

    main{
        height: 84vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    };
    
.allJoinContainer{
    width: 80vw;
    flex-direction: column;

    .containerForm{
        width: 100%;
    }

    .joinContainerText{
        width: 100%;
        flex-direction: column;
    
    }
}}
