header{
    font-family: 'Poppins-regular';
    display: flex;
    flex-direction: row;
    color: white;
    width: 100vw;
    position: fixed;
    top: 0;
    margin-top: 1rem;
}

#logoImage{&:hover {
  color: #ADADAD; 
}}

button{
  &:hover {
    color: #ADADAD; 
  }
}

a{
  
  display: flex;
  align-items: center;
  text-decoration: none;
  &:visited {color: white;}
  &:hover {
    color: #ADADAD; }
   

}

p{
  text-decoration: none;
  &:visited {color: white;}
  margin-left: 1rem;

}

#logoContainerHeader{
  gap: 1rem;
  width: 35vw;
  color: white;
  font-family: 'Poppins-regular';
  display: flex;
 flex-direction: row;
 min-width: 200px;
 
}

#buttonContainerHeader{
  width: 35vw;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}

.headerBtn{
    color: white;
  font-family: 'Poppins-regular';
  background: transparent;
  border: none;
}

@media (max-width:400px){

  header{
    display: flex;
    justify-content: space-around;
    width: 100v
  };
    #logoContainerHeader{
        width: 30vw;
    };
    #buttonContainerHeader{
        width: 40vw;}

}