main{
  display: flex;
  flex-direction: row;
  justify-content: space-around,
}


.allContentDisc{
  width: 70vw;
  height: 100vh;
  display: flex;
}
  .containerDiscText {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .linksDisc {
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin-top: 3rem;
    margin-bottom: 3em;
    gap: 10px;
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  .textDisc {
    font-size: 0.8rem;
  }
  
  .squarebutton {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: white;
    font-family: "Poppins-regular";
    border: none;
    background: #202027;
    height: 80px;
    width: 80px;
    padding: 5px;
    justify-content: center;
    &:hover {
      background-color: #DD0072
  }
  }
  
  .albumImage {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  #albums {
    width: 100%;
    height: auto;
  }
  
  .btnImg {
    height: 30px;
    width: auto;
  }
  
  .containerFooter {
    align-items: last baseline;
  }
  
  @media (max-width: 700px) {
    .allContentDisc{
      width: 80vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
    }
    .containerDiscText {
      width: 100%;
      height: 55%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    };

   h1{
    font-size: 3rem;
   }
   p{
    font-size: 1rem;
   }

    .albumImage {
      height: 40%;
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }

      #albums{
        width: 80%;
      }
.linksDisc{
  width: 80%;
  margin-top: 2rem;
    margin-bottom: 2rem;
}
  }
  