<app-header></app-header>
<main>
<section class="allContentDisc">
  <div class="containerDiscText">
    <div class="titleDisc">
      <H1>Discover new music</H1>
    </div>
    <div class="linksDisc">
      <button class="squarebutton">
        <img class="btnImg" src="../../assets/icons/microphone.svg" />Charts
      </button>
      <button class="squarebutton">
        <img class="btnImg" src="../../assets/icons/albums.svg" />Albums
      </button>
      <button class="squarebutton">
        <img class="btnImg" src="../../assets/icons/more.svg" alt="" />More
      </button>
    </div>
    <div class="textDisc">
      <p>By joining you can benefit by listening to the latest albums released.</p>
    </div>
  </div>

  <div class="albumImage">
    <img id="albums" src="../../assets/images/covers.jpg" alt="" />
  </div>
</section>
</main>
<div class="containerFooter">
  <app-footer></app-footer>
</div>