:host {
    height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contentHp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 100%;
}

#imageContainerHP {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    height: 100%;
}

#womanImg {
   height: 550px;
   object-fit: cover;
   
   

}

#textContainerHP {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    
    
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1rem;
    margin-bottom: 2rem;
}

button {
    color: white;
    background-color: #0046A5;
    border-radius: 5px;
    border: none;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    &:hover {
        background-color: #1F80D9
    }
}

.generalcircle {
    position: absolute;
}

.circlePink {
    left: 2%;
    bottom: 8%;
    z-index: -1;
    width: 25rem;
    height: 25rem;
    background-color: #bc3a801a;
    border-radius: 50%;
    position: absolute;
}

.circleBlue {
    left: 32%;
    bottom: 28%;
    z-index: -1;
    width: 25rem;
    height: 25rem;
    background-color: #3457b21a;
    border-radius: 50%;
    position: fixed;
}

.circlebig {
    right: -28%;
    bottom: -24%;
    width: 40rem;
    height: 40rem;
    background-color: #3457b21a;
    border-radius: 100%;
    position: fixed;
}


@media (max-width:700px) {
    #imageContainerHP {
        display: none;
    }

    .circlebig {
        width: 25rem;
        height: 25rem;
        right: -49%;
        bottom: -28%;
    }

    .circlePink {
        left: 4%;
        bottom: 5%;
        z-index: -1;
        width: 10rem;
        height: 10rem;
    }

    .circleBlue {
        left: 32%;
        bottom: 71%;
        z-index: -1;
        width: 7rem;
        height: 7rem;
    }

    .contentHp {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 80vw;
        justify-content: center;
        height: 100vh;
    }

    #textContainerHP{
        width: 100%;
    }
}